@import "../../../variables.css";

.icon {
    padding: 0.5rem;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    margin-bottom: 1rem;
}

.container {
    background: var(--backgroundColour);
    border: 6px solid var(--purple);
    border-radius: 6px;
    padding: 1rem;
    color: var(--purple);
}

.heading {
    font-family: var(--algeraFont);
    font-size: 2rem;
    margin: 0;
}

.body {
    font-family: var(--ralewayFont);
    font-weight: bolder;
}

/* non-mobile */
@media screen and (min-width: 900px) {
    .heading {
        height: 3.5em;
    }
}
