.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Desktop styles */
@media screen and (min-width: 900px) {
    .container {
        flex-direction: row;
        width: 100%;
    }
}