@import "../../../variables.css";

.couchLogo {
    height: 50px;
    width: auto;
}

.link {
    text-decoration: none;
    color: var(--purple);
}

.textLogo {
    width: 100%;
}

.drawerLink {
    font-family: var(--ralewayFont);
    padding: 0.5rem;
}

.drawerDivider {
    border-color: var(--purple);
    border-width: 3px;
}

.menuButton {
    font-family: var(--ralewayFont) !important;
    font-size: 1.5rem !important;
    color: var(--yellowPink) !important;
}

.menuButton:hover {
    background-color: var(--yellowPink) !important;
    color: var(--purple) !important;
}