@import "../../../variables.css";

.pill {
    border-radius: 4px;
    border: 1px solid var(--darkPurple);
    color: var(--darkPurple);
    white-space: nowrap;
    padding: 0 0.5rem;
    height: fit-content;
}