@import "../../../variables.css";

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tagline {
    font-family: Raleway, "PT Sans", sans-serif;
    display: inline;
    flex-shrink: 1;
    text-align: center;
    color: var(--yellowPink);
    font-size: 4rem;
    margin: 0;
    line-height: 4rem;
}

/* non-mobile */
@media screen and (min-width: 750px) {
    .textLogo {
        width: 75%
    }
}

/* mobile */
@media screen and (max-width: 750px) {
    .textLogo {
        width: 100%
    }
}