.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tagline {
    display: inline;
    flex-shrink: 1;
    text-align: center;
}

/* non-mobile */
@media screen and (min-width: 750px) {
    .textLogo {
        width: 75%
    }
}

/* mobile */
@media screen and (max-width: 750px) {
    .textLogo {
        width: 100%
    }
}