@import "../../../variables.css";

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 100%;
}

.tagline {
    font-family: Raleway, "PT Sans", sans-serif;
    display: inline;
    flex-shrink: 1;
    text-align: center;
    color: var(--purple);
    font-size: 4rem;
    line-height: 4rem;
    margin: 0;
}

/* non-mobile */
@media screen and (min-width: 900px) {
    .textLogo {
        width: 75%
    }

    .main {
        height: 90vh;
    }
}

/* mobile */
@media screen and (max-width: 900px) {
    .textLogo {
        width: 100%
    }

    .tagline {
        padding-bottom: 2rem;
    }
}