:root {
    --backgroundColour: black;
    --darkPurple: #4b2366;
    --yellow: #f8d089;
    --yellowPink: #e2bcae;
    --palePurple: #cab1d5;
}

@font-face {
    font-family: Raleway;
    src: url("/public/Raleway-Regular.ttf");
    font-style: normal;
    font-weight: 300 800;
}

@font-face {
    font-family: Algera;
    src: url("/public/Algera-ExtraBold.ttf");
    font-style: normal;
    font-weight: 300 800;
}