:root {
    --backgroundColour: black;
    --backgroundColourLight: #252529;
    --darkPurple: #4b2366;
    --purple: #79609f;
    --yellow: #f8d089;
    --yellowPink: #e2bcae;
    --palePurple: #cab1d5;

    --ralewayFont: Raleway, "PT Sans", sans-serif;
    --algeraFont: Algera, "PT Sans", sans-serif;
}

@font-face {
    font-family: Raleway;
    src: url("/Raleway-Regular.ttf");
    font-style: normal;
    font-weight: 300 800;
}

@font-face {
    font-family: Algera;
    src: url("/Algera-ExtraBold.ttf");
    font-style: normal;
    font-weight: 300 800;
}